enable=all
source-path=SCRIPTDIR
source=/dev/null
disable=SC2001
disable=SC2002
disable=SC2154
disable=SC2181
disable=SC2230
disable=SC2312

# If you're having issues with shellcheck following source, disable the errors via:
disable=SC1090
disable=SC1091
